# This file is used to instruct git which files/folders to ignore.
# Add .env and other sensitive files here if not already present.

.env.local
.env.prod
__pycache__
app.db
*.db.backup
*.sql
postgres_data/
pgadmin_data/
.env.local.template
db/app.db
db/postgres_data/
db/pgadmin_data/
db/redis_data/
tests/